html { 
  background: url(images/house-remodeling-6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#oval {
  width: 200px;
  height: 142px;
  border-radius: 100px 69px;
  background: #FF4D00;
  margin-left: 27px; 
}
  #oval #header {
    text-align: center;
    font-family: "Shrikhand", cursive;
    color: #ffe4e1;
    font-size: 40px;
    background-image: url("img/landing-kitchen.jpg") no-repeat;
    background-size: 100% 100%; 
  }


#slogan {
    font-size: 35px;
    margin-left: 243px;
    margin-bottom: -76px;
    position: relative;
    bottom: 170px;
    text-align: center;
    font-family: arial;
}

#slogan-2 {
  font-size: 40px;
  margin-left: 246px;
  margin-bottom: -171px;
  position: relative;
  bottom: 124px;
  font-family:arial;
  color:aquamarine;
}

#nav-bar {
  background-color: red;
  height: 47px;
  line-height: 29px;
  word-spacing: 144px;
  margin-top:58px; 
}
  #nav-bar .links {
    color: #fff;
    display: inline-block;
    margin: 11px 13px 31px 163px;
    font-size: 29px;
    font-family: "Shrikhand", cursive; }
  
  #nav-bar .links:hover {
    background-color: magenta;
    cursor: pointer; 
  }